# Default ignored files
/shelf/
/workspace.xml
src/main/resources/application.properties
### IntelliJ IDEA ###
.idea/
*.iml

### Compiled class files ###
*.class

### Maven ###
target/

### Gradle ###
build/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### App Specific ###
# Ignore your local config
src/main/resources/application.properties

